<h1>Ficha do Deputado: {{ listas['nomeCivil']}}</h1>

<table>
    <tr><td><img src={{ listas['ultimoStatus']['urlFoto']}}></td></tr>

</table>

{
    'id': 204560, 
    'uri': 'https://dadosabertos.camara.leg.br/api/v2/deputados/204560', 
    'nomeCivil': 'ADOLFO VIANA DE CASTRO NETO', 
    'ultimoStatus': 
              {
                  'id': 204560, 
                  'uri': 'https://dadosabertos.camara.leg.br/api/v2/deputados/204560', 
                  'nome': 'ADOLFO VIANA', 
                  'siglaPartido': 'PSDB', 
                  'uriPartido': 'https://dadosabertos.camara.leg.br/api/v2/partidos/36835', 
                  'siglaUf': 'BA', 
                  'idLegislatura': 56, 
                  'urlFoto': 'https://www.camara.leg.br/internet/deputado/bandep/204560.jpg', 
                  'data': '2019-02-01T11:45', 
                  'nomeEleitoral': 'ADOLFO VIANA', 
                  'gabinete': {
                      'nome': '911', 
                      'predio': '4', 
                      'sala': '911', 
                      'andar': '9', 
                      'telefone': '3215-5911', 
                      'email': 'dep.adolfoviana@camara.leg.br'
                    }, 
                  'situacao': 'Exercício', 
                  'condicaoEleitoral': 'Titular', 
                  'descricaoStatus': None
                }, 
                'cpf': '80123848504', 
                'sexo': 'M', 
                'urlWebsite': None, 
                'redeSocial': [], 
                'dataNascimento': '1981-02-02', 
                'dataFalecimento': None, 
                'ufNascimento': 'BA', 
                'municipioNascimento': 'Salvador', 
                'escolaridade': 'Superior Incompleto'}
