<!DOCTYPE html>
<html>
    <head>
        <style>
            h1{
                color: blue;
                font-family: verdana;
                font-size: 300%;
            }
            #deputatado{
              color: black;
            }
            table {
              width:70%;
            }
            table, tr, td {
               border: 1px solid black;
               border-collapse: collapse;
            }
            
         </style>    
    </head>        
<body>


<h1><strong>Ficha do Deputado</strong></h1>

<table>
    <tr>
         <td>
           <img src={{ listas['ultimoStatus']['urlFoto']}}>
          </td>
          <td valign='top'>
              <p>
                 <ul>
                   <li>  Nome: {{ listas['nomeCivil']}} </li>
                   <li>  CPF: {{listas['cpf']}}</li>
                   <li>  Data Nascimento: {{listas['dataNascimento']}}</li>        
                   <li>Estado de Nascimento: {{listas['municipioNascimento']}}-{{listas['ufNascimento']}}</li> 
                   <li>Escolaridade: {{listas['escolaridade']}}</li>
                   <li>Partido: {{listas['ultimoStatus']['siglaPartido']}}</li>
                   <li>Telefone: {{listas['ultimoStatus']['gabinete']['telefone']}}</li>
                   <li>Email: {{listas['ultimoStatus']['gabinete']['email']}}</li>
                 </ul> 
                  
              </p> 
          </td>

    </tr>

</table>
</body>
</html>